@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,700,300');

body {
    margin: 0 auto;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    background: url('/assets/images/bg/paper_fibers.png');
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 2px 5px;
}

input, textarea, select {
    padding: 6px;
    border-width: 1px;
    font: inherit;
}

h2 {
    font-family: Oswald;
    font-size: 18pt;
}

/* Hack to remove Safari's extra padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input, textarea, select { padding: 4px; }
}

/*js label { position: absolute; }*/

#body_header {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 60px;
    background-color: #666666;
    opacity: 0.2;
    filter:alpha(opacity=20); /* For IE8 and earlier */
}

#body_inner {
    width: 1000px;
    margin: 0 auto;
}

#header {
    position: relative;
    font-size: 0;
}

#header #auth_links {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 10pt;
}

#header #auth_links .welcome {
    margin-right: 6px;
}

#logo {
    height: 60px;
}

#title {
    margin: 10px 0;
    height: 20px;
    font-size: 12pt;
    text-align: center;
}

#footer {
    margin-top: 20px;
    font-size: 8pt;
    text-align: right;
}

#content {
    margin: 5px auto auto;
    width: 1000px;
}

#infoMessage {
    font-size: medium;
    color: blue;
}

#errorMessage {
    font-size: medium;
    color: red;
}

.subtle {
    font-size: smaller;
}

.v-top {
    vertical-align: top;
}

.modelList,
.wide {
    width: 100%;
    
}

.modelList td {
    border: 1px solid #000;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

body.login #header #auth_links {
    display: none;
}

.middle {
    width: 350px;
    margin: 20px auto;
    position: relative;
}

#login .header,
#register .header {
    font-family: 'Oswald',Arial,Helvetica,sans-serif;
    white-space: nowrap;
    position: relative;
}

#login .header .loginText,
#register .header .registerText {
    font-size: 18pt;
}

.header .orText {
    margin-left: 40px;
    font-weight: 300;
    font-size: 16pt;
}

.header .orText span {
    font-weight: 300;
    font-size: 8pt;
    vertical-align: middle;
}

.header .button {
    position: absolute;
    right: 0px;
}

.middle input[type='text'],
.middle input[type='password'],
.middle .input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.middle .forgot {
    margin-top: 15px;
}

#login .remember {
    vertical-align: top;
    font-size: small;
}

#login #submit,
#register #submit {
    color: #333;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: none;
    padding: .8em 2em .85em;
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#user_view .name {
    font-size: 16pt;
    font-weight: bold;
    color: #666666;
}

#user_view .username {
    font-size: 12pt;
    color: #666666;
}

#user_view .created_on,
#user_view .last_login,
#user_edit .created_on,
#user_edit .last_login {
    font-size: 10pt;
}

#user_view #editBtnWrap {
    position: absolute;
    top: 0;
    right: 0;
}

#user_edit .buttons {
    text-align: right;
}

input#phone1,
input#phone2 {
    width: 25%;
    display: inline;
}

input#phone3 {
    width: 35%;
    display: inline;
}