body {
    margin: 0 auto;
    font-family: Geneva,Arial,Helvetica,sans-serif;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 2px 5px;
}

#header {
    height: 60px;
}

#content {
    margin: auto;
    width: 1000px;
}

.modelList {
    width: 100%;
    
}

.modelList td {
    border: 1px solid #000000;
}